@font-face
  font-family: 'Aeroport'
  font-style: normal
  font-weight: 200
  src: local('Aeroport'), url("../static/fonts/Aeroport.woff2") format('woff2')
  src: local('Aeroport'), url('../static/fonts/Aeroport.eot?#iefix') format('embedded-opentype')
  src: local('Aeroport'), url('../static/fonts/Aeroport.woff2') format('woff2')
  src: local('Aeroport'), url('../static/fonts/Aeroport.woff') format('woff')
  src: local('Aeroport'), url('../static/fonts/Aeroport.ttf') format('truetype')
$max-width: 1400px
*
  font-family: "Aeroport", sans-serif
